logs
*.log
pids
*.pid
*.seed
.DS_Store
lib-cov
coverage
.grunt
build/Release
node_modules
*.sublime-*
build/
out/
.vscode
yarn.lock
.cache
!.github/**
*.local.*
*.tgz
examples/**/package-lock.json
docs/
