logs
*.log
pids
*.pid
*.seed
.DS_Store
lib-cov
coverage
.grunt
build/Release
node_modules
*.sublime-*
build/
out/
/lib/
.vscode
/package-lock.json
/yarn.lock
.cache
!.github/**
*.local.*
*.tgz
/docs/
.claude
